<div class="comentario">
  <div class = "conteudo_comentario">
    <pre class = "nome_comentario"><strong><%= "Autor: "%><%= comentario.nome %></strong>
    </p><%= comentario.body %></p>
    </pre>
  </div>
</div>
